%br

.row
  .col.s6
    %h3 Login to Your Account
    %br
    = form_for(:session, url: login_path) do |f|
      .input-field
        = f.label :username
        = f.text_field :username
      %br
      .input-field
        = f.label :password
        = f.password_field :password
      %br
      %br
      .waves-effect.waves-light.btn
        = f.submit "Login"

%br
%br
