%br
%br
%br

%h3 Login to Your Account
= form_for(:session, url: login_path) do |f|
  .input-field
    = f.label :username
    = f.text_field :username
  .input-field
    = f.label :password
    = f.password_field :password
  .waves-effect.waves-light.btn
    = f.submit "Login"

%br
