%h1.white-text.center-align Vendor Admin Dashboard

.center-align
  .waves-effect.waves-light.btn
    = link_to "Edit Account", edit_user_path(@user)
  .waves-effect.waves-light.btn
    = link_to "Delete Account", user_path(@user), method: :delete
  %br
  %br
  .waves-effect.waves-light.btn
    = link_to "View All Tickets", admin_tickets_path
  .waves-effect.waves-light.btn
    = link_to "Add Ticket",  new_admin_ticket_path

%br
%br

%h2.white-text.center-align Orders

= render partial: "/admin/orders/filter"
%br
.white
  %table.cart-table.highlight
    %tr
      %th Order ID
      %th Date Ordered
      %th Status
      %th Total

    - Order.all.each do |order|
      %tr.order{ data: {status: "#{order.status}"} }
        = content_tag :td, link_to("#{order.id}", admin_order_path(order.id))
        = content_tag :td, format_date(order.created_at)
        = content_tag :td, link_to("#{order.status}", admin_order_path(order.id))
        = content_tag :td, format_currency(order.total || 0)


%h2.white-text.center-align Vendors
%br
.white
  %table.cart-table.highlight
    %tr
      %th Store name
      %th Status
      %th Store Admin

    - @vendors.each do |vendor|
      %tr.vendor{id = vendor.name.parameterize }
        = content_tag :td, vendor.name
        = content_tag :td, vendor.status
        = content_tag :td, vendor.user_id
