%h2.white-text.center-align Order Details
%br

.row
  .col.s3.offset-s4
    = form_tag(vendor_order_path(id: @order.id), method: :put) do
      .white-text.input-field
        = label_tag :order_status
        = text_field_tag :order_status

        = submit_tag "Update order status", class: "waves-effect waves-light btn"

%br
.white
  %table.cart-table.highlight
    %tr
      %th Date Ordered
      %th Time
      %th Status
      %th Purchaser
      %th Total

    %tr
      = content_tag :td, format_date(@order.created_at)
      = content_tag :td, format_time(@order.created_at)
      = content_tag :td, @order.status
      = content_tag :td, @order.user.name
      = content_tag :td, format_currency(@order.total || 0)

%br
%br

.white
  %table.cart-table.highlight
    %tr
      %th Ticket Name
      %th Section
      %th Row
      %th Seat
      %th Subtotal
    - binding.pry
    - @order.tickets.each do |ticket|
      %tr
        = content_tag :td, ticket.event.name
        = content_tag :td, ticket.section
        = content_tag :td, ticket.row
        = content_tag :td, ticket.seat
        = content_tag :td, ticket.price

%br
%br
%br
