%h1 Admin Dashboard

%h2 Orders

%table.cart-table.highlight
  %tr
    %th Trips Ordered
    %th Total Price
    %th Date Ordered
    %th Status

  - Order.all.each do |order|
    %tr
      = content_tag :td, sanitize(order_pursuits_list(order))
      = content_tag :td, format_currency(order.total || 0)
      = content_tag :td, format_date(order.created_at)
      = content_tag :td, link_to("#{order.status}", order_path(order.id))

= link_to "Edit Account", edit_user_path(@user)
= link_to "Delete Account", user_path(@user), method: :delete
= link_to "View All Pursuits", "/admin/pursuits"
= link_to "Add Pursuit", new_pursuit_path
