%h1.white-text.center-align Admin Dashboard

.center-align
  .waves-effect.waves-light.btn
    = link_to "Edit Account", edit_user_path(@user)
  .waves-effect.waves-light.btn
    = link_to "Delete Account", user_path(@user), method: :delete
  %br
  %br
  .waves-effect.waves-light.btn
    = link_to "View All Pursuits", admin_pursuits_path
  .waves-effect.waves-light.btn
    = link_to "Add Pursuit",  new_admin_pursuit_path

%br
%br

%h2.white-text.center-align Orders

= render partial: "/admin/orders/filter"

.white
  %table.cart-table.highlight.order
    %tr
      %th Order ID
      %th Date Ordered
      %th Status
      %th Total

    - Order.all.each do |order|
      %tr
      %td{ data: {status: "#{order.status}"} }
        = content_tag :td, link_to("#{order.id}", admin_order_path(order.id))
        = content_tag :td, format_date(order.created_at)
        = content_tag :td, link_to("#{order.status}", admin_order_path(order.id))
        = content_tag :td, format_currency(order.total || 0)

%h4 Total: #{Order.all.count}
