%h1= "Welcome, #{current_user.name}!"

%p= "Username: #{current_user.username}"
%p= "Name: #{current_user.name}"

= link_to "Order History", orders_path
= link_to "Edit Account", edit_user_path(@user)
= link_to "Delete Account", user_path(@user), method: :delete
