%br
%br

.center-align.white-text
  %h1= "Welcome, #{current_user.name}!"

  %p= "Username: #{current_user.username}"
  %p= "Name: #{current_user.name}"
  %br
  %br

  .waves-effect.waves-light.btn.white-text
    = link_to "Order History", orders_path
  %br
  %br
  %br
  .waves-effect.waves-light.btn.white-text
    = link_to "Edit Account", edit_user_path(@user)
  .waves-effect.waves-light.btn.white-text
    = link_to "Delete Account", user_path(@user), method: :delete

  %br
  %br
  %br
  %br
  %br
