<div class="container">
  <div class="row">
    <div class="black-text col s12 m6 offset-m3">
      <h3 class="center">Edit Account</h3>
      <%= form_for @user, html: {multipart: true} do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :image, "Update Image" %><br />
        <%= f.file_field :image %>
        <%= f.button "Update Account", class: "waves-effect waves-light btn orange" %>
      <% end %>
    </div>
  </div>
</div>
