<div class="container">
  <% if current_user %>
    <%= render partial: "shared/already_logged_in" %>
  <% end %>
  <% if !current_user %>
    <br/>
    <div class="row">
      <div class="col s12 m6 offset-m3 black-text">
        <h5 class="black-text">Create Account</h5>
        <%= form_for(@new_user, html: {multipart: true}) do |f| %>
          <div class="input-field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="input-field">
            <%= f.label :username %>
            <%= f.text_field :username %>
          </div>
          <div class="input-field">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>
          <div class="input-field">
            <%= f.label :password %>
            <%= f.password_field :password %>
            <p></p>
            <%= f.file_field :image %>
            <br/>
            <br/>
            <%= f.button "Create Account", class: "waves-effect waves-light btn orange" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
