.container
  - if current_user
    = render partial: "shared/already_logged_in"
  - if !current_user
    %br
    .row
      .col.s12.m6.offset-m3.black-text
        %h5.black-text Create Account
        = form_for @new_user do |f|
          .input-field
            = f.label :name
            = f.text_field :name
          .input-field
            = f.label :username
            = f.text_field :username
          .input-field
            = f.label :password
            = f.password_field :password
            %br
            %br
            = f.button "Create Account", class: "waves-effect waves-light btn orange"
