%h3 Create Account

.row
  .col.s6
    = form_for @user do |f|
      .input-field
        = f.label :username
        = f.text_field :username
      %br
      .input-field
        = f.label :name
        = f.text_field :name
      %br
      .input-field
        = f.label :password
        = f.password_field :password
      .waves-effect.waves-light.btn
        = f.submit "Create Account"
