.home-page
  %section

  .row.center-align.bgimage
    .col.s12
      %h1.black-text.b.stroke Ticketly
      %h4.black-text.stroke Buy. Sell. Tickets.
      %br
      %br
      .col.s6.m3.offset-m3.l2.offset-l4
        = link_to "Sell Tickets", new_user_path, class: "waves-effect waves-light btn white-text orange"
      .col.s6.m3.l2
        = link_to "Buy Tickets", events_path, class: "waves-effect waves-light btn white-text orange"

  .row.grey.lighten-3.tickets
    .container.tickets
      %h2.center Just Added
      - @events.each do |event|
        .col.s12.m6.ticket
          %h5.center= link_to event.name, event_path(event)
          %p.center= event.venue
          %p.center= event.date_time.strftime('%B %-d, %Y - %H:00')
          %p.center= "#{event.location_city}, #{event.location_state}"
