.home-page
  %section

  .row.center-align.bgimage
    .col.s12
      %h1.white-text.bold Ticketly
      %h4.white-text.thin Pursue Your Passion
      %br
      %br

      - if !current_user
        .col.s6.m3.offset-m3.l2.offset-l4
          = link_to "Sell Tickets", new_user_path, method: :get, class: "waves-effect waves-light btn white-text orange"
        .col.s6.m3.l2
          = link_to "Buy Tickets", login_path, method: :get, class: "waves-effect waves-light btn white-text orange"

  - @categories.each do |category|
    .row.grey.lighten-3.tickets
      .container
        .col.s4
          .card.medium
            .card-image
              = image_tag("#{category.name}")
            .card-content
              %span.card-title.black-text "#{category.name}"
            .card-action
              = link_to "Buy Tickets", root_path
