<div class="cart white">
  <table>
    <% @tickets.each do |ticket| %>
      <div class="pursuit_card">
        <tr>
          <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
              <h2>
                <%= ticket.event.name %>
              </h2>
              <p>
                <%= "Price: #{format_currency(ticket.price)}" %>
              </p>
              <p>
                <%= "Sub-total: #{format_currency(ticket.price * @cart.count_of(ticket.id))}" %>
              </p>
              <%= form_tag(cart_path, method: :put) do %>
                <%= hidden_field_tag "ticket_id", ticket.id %>
              <% end %>

              <div class="waves-effect waves-light btn white-text">
                <%= button_to "Remove", cart_path( { ticket_id: ticket.id }), method: :delete %>
              </div>

            </div>
          </div>
        </tr>
      </div>
    <% end %>
  </table>
</div>
