.cart.white
  %table
    - @tickets.each do |ticket|
      .pursuit_card
        %tr
          .row
            .col.s3
            .col.s6
              %h2= ticket.name
              %p= "Price: #{format_currency(ticket.price)}"
              %p= "Sub-total: #{format_currency(ticket.price * @cart.count_of(ticket.id))}"
              %p= ticket.name

              = form_tag(cart_path, method: :put) do
                = label_tag "quantity: "
                = text_field_tag "quantity", @cart.count_of(ticket.id)

                = hidden_field_tag "ticket_id", ticket.id
                = submit_tag "Update"
            .col.s2
              %br
              %br
              %br
              = link_to "Remove", cart_path( { pursuit_id: ticket.id }), method: :delete, class: 'waves-effect waves-light btn white-text'
