.container{ :id => "search-field" }
  = form_tag events_path, class: "form-inline", method: :get do
    .form-group
      = text_field_tag :query, params[:query], class: "form-control"
    = submit_tag "Search", class: "btn btn-primary"
    - if params[:query].present?
      = link_to "clear", events_path

.container
  .events-table-wrapper.z-depth-1
    %table.events.bordered.z-depth-1.events-table{id: 'eventsTable'}
      %thead
        %tr
          %th{ "data-sort": 'string' }
            Event Name
          %th{ "data-sort": 'string' }
            Category
          %th{ "data-sort": 'string' }
            Venue
          %th{ "data-sort": 'string' }
            Location
          %th{ "data-sort": 'int' }
            Tickets Available
      %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.name, event_path(event)
          %td= event.category.name
          %td= event.venue
          %td= "#{event.location_city}, #{event.location_state}"
          %td= event.tickets.count
    = will_paginate @events
