
.container
  .row
    .col.m4.offset-m4
      %nav.search{ :id => "search-field" }
        = form_tag events_path, class: "form-inline", method: :get do
          .form-group.input-field
            = text_field_tag :query, params[:query], class: "form-control orange", id: 'search', type: 'search'
            %label{for: 'search'}
              %i.material-icons search
            -# = submit_tag "Search", class: "btn btn-primary"
  .events-table-wrapper.z-depth-1
    - if params[:query].present?
      = link_to "clear search", events_path, class:'red-text right'
    %table.events.bordered.z-depth-1.events-table{id: 'eventsTable'}
      %thead
        %tr
          %th{ "data-sort": 'string' }
            Event Name
          %th{ "data-sort": 'string' }
            Category
          %th{ "data-sort": 'string' }
            Venue
          %th{ "data-sort": 'string' }
            Location
          %th{ "data-sort": 'int' }
            Tickets Available
      %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.name, event_path(event)
          %td= event.category.name
          %td= event.venue
          %td= "#{event.location_city}, #{event.location_state}"
          %td= event.tickets.count
    = will_paginate @events
