<div class="container">
  <div class="row">
    <h2 class="center"><%= @event.name %></h2>
    <div class="col s12 m5">
      <div class="">
        <table class="events-table">
          <thead>
            <tr>
              <th>Venue</th>
              <th>Location</th>
              <th>Time</th>
            </tr>
          </thead>
          <tr>
            <td><%= @event.venue %></td>
            <td><%= "#{@event.location_city}, #{@event.location_state}" %></td>
            <td><%= @event.date_time.strftime('%B %-d, %Y - %H:00') %></td>
          </tr>
        </table>
        <div class='map-container'>
          <div id="map" class='map' data-lat="<%= @event.latitude %>" data-lon="<%= @event.longitude %>"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <table class="bordered events-table">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Section</th>
            <th>Row</th>
            <th>Seat</th>
            <th>Price</th>
            <th class="center">Purchase</th>
          </tr>
        </thead>
        <tbody></tbody>
        <% if @event.tickets.active.empty? %>
          <tr>
            <td class="center" colspan="6">No Tickets Available at this time.</td>
          </tr>
        <% else %>
          <% @event.tickets.active.each do |ticket| %>
            <tr id="<%= ticket.id %>">
              <td><%= ticket.id %></td>
              <td><%= ticket.section %></td>
              <td><%= ticket.row %></td>
              <td><%= ticket.seat %></td>
              <td><%= "$#{ticket.price}" %></td>
              <%= form_tag(cart_tickets_path(ticket_id: ticket.id)) do %>
                <td class="center">
                  <%= button_tag "Purchase", class: "waves-effect btn orange" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
