.container
  .row
    .col.m5
      .center
        %h2= @event.name
        %p= @event.venue
        %p= "#{@event.location_city}, #{@event.location_state}"
    .col.m7
      %table.striped.bordered
        %thead
          %tr
            %th Section
            %th Row
            %th Seat
            %th Price
            %th Purchase 
        %tbody
          - @event.tickets.each do |ticket|
            %tr{id: ticket.id}
              %td= ticket.section
              %td= ticket.row
              %td= ticket.seat
              %td= "$#{ticket.price}"
              = form_tag(cart_tickets_path)
              = hidden_field_tag "ticket_id", params[:id]
              %td= submit_tag "Purchase"

