.container
  %h1.black-text.center-align Admin Dashboard
  .center-align
    = link_to "Edit Account", edit_user_path(@user), class: "waves-effect waves-light btn orange"
    = link_to "Delete Account", user_path(@user), method: :delete, class: "waves-effect waves-light btn orange"
    %br
    %br

    = render partial: "/platform_admin/vendor/filter"
    %br
    .white
      %table.cart-table.events-table.highlight
        %tr
          %thead
            %th Vendor ID
            %th Name
            %th Status
            %th User ID
          %tbody
          - @vendors.each do |vendor|
            %tr.vendor.clickable{ data: {status: "#{vendor.status}", link: platform_admin_vendor_path(id: vendor.id) }, id: "#{vendor.name.parameterize}" }
              = content_tag :td, link_to("#{vendor.id}", platform_admin_vendor_path(id: vendor.id))
              = content_tag :td, vendor.name
              = content_tag :td, link_to("#{vendor.status}", platform_admin_vendor_path(id: vendor.id))
              = content_tag :td, vendor.user_id
