.white-text.center-align
  %br
  %h2 Order Details

  = sanitize("Order status: #{content_tag :td, @order.status || 'N/A'}")
  %br
  %br
  = sanitize("Total price: #{content_tag :td, format_currency(@order.total)}")
  %br
  = "Order submitted on #{format_date_and_time(@order.created_at)}"
  %br
  = "Last order status update: #{format_date_and_time(@order.updated_at)}"

  .white.black-text
    %table.cart-table.highlight
      %tr
        %th Name
        %th Sub-total
        %th Retired?

      - @order.tickets.each do |ticket|
        %tr
          = content_tag :td, link_to(ticket_name_and_quantity(@order, ticket), ticket_path(ticket))
          = content_tag :td, format_currency(ticket.price)
          = content_tag :td, @order.status
          -# number of travellers method
  %br
  %br
  %br
