<div class="white-text center-align">
  <br/>
  <h2>Order Details</h2>
  <%= sanitize("Order status: #{content_tag :td, @order.status || 'N/A'}") %>
  <br/>
  <br/>
  <%= sanitize("Total price: #{content_tag :td, format_currency(@order.total)}") %>
  <br/>
  <%= "Order submitted on #{format_date_and_time(@order.created_at)}" %>
  <br/>
  <%= "Last order status update: #{format_date_and_time(@order.updated_at)}" %>
  <br/>
  <br/>
  <br/>
  <div class="white black-text">
    <table class="cart-table highlight">
      <tr>
        <th>Name</th>
        <th>Sub-total</th>
        <th>Retired?</th>
      </tr>
      <% @order.tickets.each do |ticket| %>
        <tr>
          <%= content_tag :td, link_to(ticket_name_and_travellers(@order, ticket), ticket_path(ticket)) %>
          <%= content_tag :td, format_currency(ticket.price * @order.ordered_trips.find_by(ticket_id: ticket.id).travellers) %>
          <% # number of travellers method %>
        </tr>
      <% end %>
    </table>
  </div>
  <br/>
  <br/>
  <br/>
</div>
