.pursuit{ :id => "#{format_url_name(pursuit.name)}" }
  .col.s12.m4
    .card
      .card-image
        = image_tag(pursuit.image.url)
        %span.card-title= "#{ pursuit.name}"
      .card-content
        %p= "#{pursuit.description}"
        %br
        = "#{format_currency(pursuit.price)}"
      .card-action
        = link_to "Details", pursuit_path(pursuit)
        %br
        %br
        = "Status: #{pursuit.status.upcase}"
        %br
        %br
        = button_to "Edit", edit_admin_pursuit_path(pursuit), method: :get
