.cart.white
  %table
    - @pursuits.each do |pursuit|
      .pursuit_card
        %tr
          .row
            .col.s3
              = image_tag(pursuit.image.url, class: "responsive-img")
            .col.s6
              %h2= pursuit.name
              %p= "Price: #{format_currency(pursuit.price)}"
              %p= "Travellers: #{@cart.count_of(pursuit.id)}"
              %p= "Sub-total: #{format_currency(pursuit.price * @cart.count_of(pursuit.id))}"
              %p= pursuit.description

              = form_tag(cart_path, method: :put) do
                = label_tag "Travellers: "
                = text_field_tag "travellers", @cart.count_of(pursuit.id)

                = hidden_field_tag "pursuit_id", pursuit.id
                = submit_tag "Update"
            .col.s2
              %br
              %br
              %br
              .waves-effect.waves-light.btn.white-text
                = button_to "Remove", cart_path( { pursuit_id: pursuit.id }), method: :delete
