%h1 Your Order

= form_tag(cart_pursuits_path, method: :post) do
  = label_tag "Number of Travellers:"
  = text_field_tag "travellers"

  = hidden_field_tag "pursuit_id", params[:id]
  = submit_tag "Place Order"
