%br
%br

.white-text.center-align
  %h1.center-align Place Your Order
  %br

  .row
    .col.s2.offset-s5
      = form_tag(cart_pursuits_path, method: :post) do
        .input-field
          = label_tag "Number of Travellers"
          = text_field_tag "travellers"

        = hidden_field_tag "pursuit_id", params[:id]

  .row.center-align
    %br
    .waves-effect.waves-light.btn.white-text
      = submit_tag "Place Order"

%br
%br
%br
