%h1.white-text.center-align Add a New Ticket:

.white-text
  = form_for(@ticket, url: admin_tickets_path)  do |f|
    .input-field
      = f.label :name
      = f.text_field :name

    .input-field
      = f.label :description
      = f.text_area :description

    .input-field
      = f.label :activity
      = f.text_field :activity

    .input-field
      = f.label :price
      = f.text_field :price

    .input-field
      = f.label :status
      = f.text_field :status

    = f.label :image, "Attach an Image"
    = f.file_field :image
    .waves-effect.waves-light.btn
      = f.submit "Create Ticket"
