.ticket-show{ :id => "#{ticket.event.name.parameterize}" }

  .col.s12.m4.black-text
    .card
      .card-image
        %span.card-title= "#{ticket.event.name}"
      .card-content
        %p= "#{ticket.event.name}"
        %p= "#{ticket.vendor_id}"
        %br
        = "#{format_currency(ticket.price)}"
      .card-action
        = link_to "Details", ticket_path(ticket)
        %br
        %br
        = "Status: #{ticket.status.upcase}"
        %br
        %br
        = button_to "Edit", edit_vendor_ticket_path(id:ticket), method: :get
        = button_to "Delete", vendor_ticket_path(id:ticket), method: :delete
