<h1 class="black-text center-align">Update ticket</h1>
<div class="black-text container">
  <%= form_for(@ticket, url: vendor_ticket_path(vendor: current_user.vendor.name)) do |f| %>
    <%= f.label :section %>
    <%= f.text_area :section %>
    <%= f.label :row %>
    <%= f.text_area :row %>
    <%= f.label :seat %>
    <%= f.text_area :seat %>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.label :status %>
    <%= f.text_field :status %>
    <%= f.button "Update Ticket", class: "waves-effect waves-light btn orange" %>
  <% end %>
</div>
