%h1.white-text.center-align Add a New Ticket:

.black-text
  = form_for(@ticket, url: vendor_tickets_path(vendor: current_user.vendor.name))  do |f|
    .input-field
      = f.label :section
      = f.text_area :section

    .input-field
      = f.label :row
      = f.text_area :row

    .input-field
      = f.label :seat
      = f.text_area :seat


    .input-field
      = f.label :price
      = f.text_field :price

    .input-field
      = f.label :status
      = f.text_field :status

    .waves-effect.waves-light.btn
      = f.submit "Create Ticket"
