.pursuit{ :id => "#{format_url_name(pursuit.name)}" }
  .row
    .col.s12.m7
      .card
        .card-image
          %img(src="jet-skiing.jpg")
          %span.card-title= "#{ pursuit.name}"
        .card-content
          %p= "#{pursuit.description}"
          %br
          = "#{format_currency(pursuit.price)}"
        .card-action
          = link_to "Details", pursuit_path(pursuit)
