%h1 Pursuits

- @activities.each do |activity|
  %h2= link_to("#{activity.name}", "/#{format_url_name(activity.name)}")
  - activity.pursuits.each do |pursuit|
    .pursuit{ :id => "#{format_url_name(pursuit.name)}" }
      .row
        .col.s12.m7
          .card
            .card-image
              %img(src="jet-skiing.jpg")
              %span.card-title= "#{ pursuit.name}"
            .card-content
              %p= "#{pursuit.description}"
              %br
              = "#{number_to_currency(pursuit.price, unit: "$")[0...-3]}"
            .card-action
              = link_to "All Pursuits", pursuits_path
