.white-text
  .center-align
    %h1= @pursuit.name

    .waves-effect.waves-light.btn.white-text
      = purchase_link_or_retired_notice

  %p.center-align= "Trip price: #{format_currency(@pursuit.price)}"

  %br

  .row
    .col.s4
      = image_tag(@pursuit.image.url, class: "responsive-img")
    .col.s8
      %p.pursuit-description= @pursuit.description
