.white-text
  .center-align
    %h1= @pursuit.name

    .waves-effect.waves-light.btn.white-text
      = purchase_link_or_retired_notice

  %p.center-align= "Trip price: #{format_currency(@pursuit.price)}"

  %br

  .row
    .col.s4
      %img.responsive-img(src="http://www.fantasiavillas.com/wp-content/uploads/2012/03/caribbean-grenada-calivigny-island-8.jpg")
    .col.s8
      %p.pursuit-description= @pursuit.description
