
<html>
  <head>
    <title>Ticketly</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<main>
<body>
  <div class = "<%= params[:controller] %>">
    <header>
      <nav>
        <div class="nav-wrapper white">
          <a href="/" class="brand-logo black-text">Ticketly</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Events", events_path %></li>
            <li><%= join_dashboard_path %></li>
            <li><%= login_logout_path %></li>
            <li><%= cart_display %></li>
          </ul>
        </div>
      </nav>
    </header>

      <% flash.each do |type, msg| %>
          <%= content_tag :div, sanitize(msg), class: " flash flash_#{type}" %>
      <% end %>

      <%= yield %>
    </main>​
    <footer class="page-footer orange lighten-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="black-text">Company Bio</h5>
            <p class="black-text">We are a team of Turing students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>

          <div class="col l3 s12">
            <h5 class="black-text">About</h5>
            <ul>
              <li><a class="black-text" href="/">Company</a></li>
              <li><a class="black-text" href="/users/new">Vendors</a></li>
              <li><a class="black-text" href="/events">Categories</a></li>
              <li><a class="black-text" href="http://www.turing.io" target="_blank">Contact</a></li>
            </ul>
          </div>

          <div class="col l3 s12">
            <h5 class="black-text">Events</h5>
            <ul>
              <li><a class="black-text" href="/events">Concerts</a></li>
              <li><a class="black-text" href="/events">Kids</a></li>
              <li><a class="black-text" href="/events">Food</a></li>
              <li><a class="black-text" href="/events">Sports</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container black-text">
        Made by <a class="blue-text" href="https://github.com/adamki" target="_blank">Adam Jensen</a>, <a class="blue-text" href="https://github.com/acareaga" target="_blank">Aaron Careaga</a>, <a class="blue-text" href="https://github.com/joshuajhun" target="_blank">Jhun De Andres</a>, & <a class="blue-text" href="https://github.com/robbielane" target="_blank">Robbie Lane</a>
        </div>
      </div>
    </footer>
  </body>
</html>
